div.aside__scrollable
    div.aside__content

        div(ng-include="'preview.html'")

        div(ng-include="'audioPlayer.html'")


        div.aside__footer(ng-controller="InfoBar")
            div.diskstatus
                p.diskstatus__value 560Мб свободно из 4Гб
                div.diskstatus__indicator(range, range-value="75")

            div.uploadstatus(ng-show="state.upload.status == 'during'")
                p.uploadstatus__value(ng-show="state.upload.progress == 100")
                    | Подготовка загруженных файлов
                p.uploadstatus__value(ng-show="state.upload.progress != 100")
                    | Загрузка: 
                    strong(ng-bind="'Dogovor num 1312.pdf'")
                div.uploadstatus__indicator(range, range-value="state.upload.progress")

            div.uploaddone(ng-show="state.upload.status == 'success'")
                p.uploaddone__value Все файлы загружены

            div.uploaderror(ng-show="state.upload.status == 'error_file_limit'")
                p.uploaderror__value Ошибка загрузки файлов
                p.uploaderror__desc превышен лимит размера одного файла

            div.uploaderror(ng-show="state.upload.status == 'error_user_limit'")
                p.uploaderror__value Ошибка загрузки файлов
                p.uploaderror__desc вы исчерпали лимит доступного пространства

            div.uploaderror(ng-show="state.upload.status == 'error_unknown'")
                p.uploaderror__value Ошибка загрузки файлов
                p.uploaderror__desc неизвестная ошибка