div.audio(ng-controller="AudioPlayer")
    div(ng-if="isShow")

        div.audio__control
            button.audio__control-shuffle.active
            button.audio__control-prev
            button.audio__control-play(ng-click="pause()" ng-class="{paused: paused}")
            button.audio__control-next
            button.audio__control-loop


        p.audio__current
            span.audio__current-name
                strong(ng-bind="artist || (title ? 'Unknown' : '')")
                span(ng-show="artist || title") &nbsp;-&nbsp;
                span(ng-bind="title || name")

            span.audio__current-time(ng-bind="progress.time | playTime")

        div.audio__frequency(frequency frequency-value="frequency" frequency-width="256" frequency-height="80" frequency-color="#D8DFE8")

        ul.audio__equalizer
            li.audio__equalizer-item(range range-value="equalizer[0]" range-handler="equalizerSet[0]" range-min="-16" range-max="16" range-step="3" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[1]" range-handler="equalizerSet[1]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[2]" range-handler="equalizerSet[2]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[3]" range-handler="equalizerSet[3]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[4]" range-handler="equalizerSet[4]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[5]" range-handler="equalizerSet[5]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[6]" range-handler="equalizerSet[6]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[7]" range-handler="equalizerSet[7]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[8]" range-handler="equalizerSet[8]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)
            li.audio__equalizer-item(range range-value="equalizer[9]" range-handler="equalizerSet[9]" range-min="-16" range-max="16" range-step="4" range-vertical range-editable range-bullet)

        div.audio__status(range range-value="progress.completed" range-shadow-value="preload" range-step="0.25" range-final-only range-handler="rewind" range-editable)

        div.audio__footer
            div.audio__footer-speaker
            div.audio__footer-volume(range range-value="state.uiSettings.soundVolume" range-step="1" range-editable range-bullet)
            button.audio__footer-switcher.equalizer
            button.audio__footer-switcher.frequency.active
            button.audio__footer-switcher.playlist 

