form.main__content
    h2.main__title Регистрация

    label.signup__field.field(
        ng-class="{filled: values.login}"
    )
        input.field__input(
            type="text",
            name="login",
            maxlength="24",
            ng-model="values.login"
        )
        span.field__placeholder Имя пользователя

    label.signup__field.field(
        ng-class="{filled: values.password}"
    )
        input.field__input(
            type="password",
            name="password",
            maxlength="16",
            ng-model="values.password"
        )
        span.field__placeholder Пароль

    label.signup__field.field(
        ng-class="{filled: values.email}"
    )
        input.field__input(
            type="text",
            name="email",
            maxlength="64",
            ng-model="values.email"
        )
        span.field__placeholder E-mail

    label.signup__confirm.confirm
        input.confirm__input(
            type="checkbox",
            name="confirm",
            ng-model="values.confirm"
        )
        div.confirm__icon
        p.confirm__title
            | Принимаю&nbsp;
            a(href="#") Условия использования ресурса

    button.signup__submit.submit  Зарегистрироватся