form.main__content
    h2.main__title Подтвердить восстановление пароля

    label.recovery__field.field(
        ng-class="{filled: values.code}"
    )
        span.field__placeholder Код подтвердения
        input.field__input(
            type="email",
            name="email",
            maxlength="64",
            ng-model="values.code"
        )

    button.recovery__submit.submit Восстановить пароль