div#auth

    header.header
        div.header__line
        div.header__wrapper
            h1.header__logo


    main.main
        menu.main__menu
            li.main__menu-item: a(ui-sref="auth({view: 'signin'})") Вход
            li.main__menu-item: span |
            li.main__menu-item: a(ui-sref="auth({view: 'recovery'})") Восстановить пароль
            li.main__menu-item: span |
            li.main__menu-item: a(ui-sref="auth({view: 'signup'})") Регистрация


        section.main__wrapper.signin(
            ng-if="current == 'signin'"
            ng-include="'authSignIn.html'"
            ng-controller="AuthSignInCtrl"
        )

        section.main__wrapper.signup(
            ng-if="current == 'signup'"
            ng-include="'authSignUp.html'"
            ng-controller="AuthSignUpCtrl"
        )

        section.main__wrapper.recovery(
            ng-if="current == 'recovery'"
            ng-include="'authRecovery.html'"
            ng-controller="AuthRecoveryCtrl"
        )

        section.main__wrapper.recovery-confirm(
            ng-if="current == 'recoveryConfirm'"
            ng-include="'authRecoveryConfirm.html'"
            ng-controller="AuthRecoveryConfirmCtrl"
        )