form.main__content
    h2.main__title Восстановить пароль

    label.recovery__field.field(
        ng-class="{filled: values.email}"
    )
        span.field__placeholder E-mail
        input.field__input(
            type="email",
            name="email",
            maxlength="64",
            ng-model="values.email"
        )

    button.recovery__submit.submit Отправить письмо с кодом