form.main__content(
        ng-class="{error: error}"
        ng-submit="submit()"
    )
    h2.main__title Войти

    label.signin__field.field(
        ng-class="{filled: values.login}"
    )
        input.field__input(
            type="text",
            name="login",
            maxlength="24",
            ng-model="values.login"
        )
        span.field__placeholder Имя пользователя

    label.signin__field.field(
        ng-class="{filled: values.password}"
    )
        input.field__input(
            type="password",
            name="password",
            maxlength="16",
            ng-model="values.password"
        )
        span.field__placeholder Пароль

    button.signin__submit.submit(
        ng-class="{sending: sending}"
    ) Войти
