div.dropdown(ng-class="{'right-align': rightAlign, 'expanded': isExpanded}")

    p.dropdown-label(ng-bind="label || labelDefault || model[0].name")


    // - content drop-down
    div.dropdown-content(ng-if="type=='content'", ng-transclude)


    // - select drop-down
    div.dropdown-content(ng-if="type=='select'")

        ul.dropdown-select
            li.dropdown-select__item(ng-repeat="item in model", ng-click="onSelect(item.value)")
                span(ng-bind="item.name")
