
div(
dropzone
dropzone-handler="Upload.send"
dropzone-data="{parentId: state.curFolder.id || 'root'}"
)


ul.files

    //- folders
    li.files__item(ng-repeat="item in list", ng-class="{folder: item.isFolder}")

        div.files__item-preview(ng-class="{selected: item.selected}")
            div.files__item-icon(ng-class="'type-' + (item.isFolder ? 'folder' : item.docType)")
            label.files__item-select
                input(
                ng-model="item.selected"
                ng-change="select()"
                type="checkbox"
                tabindex="{{$index * 2 + 1}}"
                )
                strong


        input.files__item-rename(
        ng-show="item.rename"
        ng-model="item.name"
        tabindex="-1"
        autofocus
        )


        a.files__item-name(
        ng-show="!item.rename"
        ng-bind="item.name"
        ng-click="preview(item, $event)"
        ng-dblclick="view(item)"
        ui-sref="{{item.isFolder ? 'main.files({folderId:' + item.id + '})' : 'null'}}"
        tabindex="{{$index * 2 + 2}}"
        )


        a.files__item-size(
        ng-if="!item.isFolder"
        ng-bind="item.size | memorySize"
        ng-click="preview(item, $event)"
        ng-dblclick="view(item)"
        ui-sref="{{item.isFolder ? 'main.files({folderId:' + item.id + '})' : 'null'}}"
        tabindex="-1"
        )


        div.files__item-controls
            button.files__item-control.done(
            ng-click="done(item)"
            ng-if="item.rename"
            )

            button.files__item-control.cancel(
            ng-click="cancel(item)"
            ng-if="item.rename"
            )

            button.files__item-control.download(
            ng-click="download(item)"
            ng-if="!item.rename && !item.isFolder"
            )

            button.files__item-control.move(
            ng-click="move(item)"
            ng-if="!item.rename"
            )

            button.files__item-control.copy(
            ng-click="copy(item)"
            ng-if="!item.rename && !item.isFolder"
            )

            button.files__item-control.rename(
            ng-click="rename(item)"
            ng-if="!item.rename"
            )

            button.files__item-control.remove(
            ng-click="remove(item)"
            ng-if="!item.rename"
            )

        div.files__item-more


    //- empty
    li.files__empty(ng-if="list && !list.length")
        p Пустая папка


    //- loading
    li.files__empty(ng-if="!list")
        p Загрузка