div.header__wrapper


    div.header__show-control.show-nav
        button.show-control.show-nav(
            ng-class="{active: state.showNav}"
            ng-click="state.showNav = !state.showNav"
        )

    div.header__nav
        nav.nav(ng-class="{show: state.showNav}")
            a.nav__item(ui-sref="main.files({folderId:null})") Все файлы
            a.nav__item(ui-sref="main.images") Изображения
            a.nav__item(ui-sref="main.music") Музыка
            a.nav__item(ui-sref="main.videos") Видео
            a.nav__item(ui-sref="main.marked") Отмеченные
            a.nav__item(ui-sref="main.trash") Корзина

    div.header__search
        label.search
            input.search__input(type="text", autocomplete="off", maxlength="24", placeholder="Поиск по файлам")
            div.search__icon

    div.header__user
        div.user
            span(ng-bind="currentUser.initials")


    div.header__show-control.show-aside
        button.show-control.show-aside(
            ng-class="{active: state.showAside}"
            ng-click="state.showAside = !state.showAside"
        )
