doctype html
html(lang="ru")
    meta(charset="UTF-8")
    meta(name="viewport", content="target-densitydpi=device-dpi, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
    title Ultima Thule
    // inject:css
    // endinject

body(ng-app="app", ng-controller="AppCtrl")

    div#loader(ng-if="currentUser === undefined")

    div.window(ui-view="window")

    // inject:js
    // endinject