div#page
    header.header(ng-include="'header.html'")
    section.status(ng-include="'status.html'")

    aside.aside(ng-include="'aside.html'", ng-class="{show: state.showAside}")

    main.main
        div.main__content(ui-view="main")

    section.viewer(ui-view="viewer")