div.preview(ng-controller="PreviewCtrl")


    //- Preview and property of file
    div(ng-if="item && !item.isFolder")

        div.preview__snapshot(ng-if="item.path_preview")
            img.preview__snapshot-image(ng-src="previewstorage/{{item.path_preview}}")
            p.preview__snapshot-name(ng-bind="item.name")

        div.preview__visual(ng-if="!item.path_preview")
            div.preview__visual-icon(ng-class="item.extension | docType")
            p.preview__visual-name(ng-bind="item.name")

        ul.preview__property
            li.preview__property-item
                span(ng-bind="'Тип'")
                | :&nbsp;
                strong(ng-bind="item.extension | docType")

            li.preview__property-item
                span(ng-bind="'Размер'")
                | :&nbsp;
                strong(ng-bind="item.size | memorySize")

            li.preview__property-item
                span(ng-bind="'Дата создания'")
                | :&nbsp;
                strong(ng-bind="item.create_time | date:'yyyy-MM-dd HH:mm'")

            li.preview__property-item(ng-repeat="(prop, value) in item.description")
                span(ng-bind="prop")
                | :&nbsp;
                strong(ng-bind="value")



    //- Preview and property of folder
    div(ng-if="item && item.isFolder")
        div.preview__visual
            div.preview__visual-icon.doc-type-folder
            p.preview__visual-name(ng-bind="item.name")

        ul.preview__property
            li.preview__property-item
                span(ng-bind="'Дата создания'")
                | :
                strong(ng-bind="item.create_time | date:'yyyy-MM-dd HH:mm'")




    //- Default empty view
    div(ng-if="!item")
        div.preview__empty
            div.preview__empty-icon
            p.preview__empty-text Выберите файл или папку, чтобы посмотреть их свойства