div.range(ng-class="vertical ? 'vertical' : 'horizontal'")

    div.range__complete
        div.range__complete-shadow(ng-style="sizeStyle(shadowComplete)")
        div.range__complete-value(ng-style="sizeStyle(complete)")

    div.range__separator(ng-if="min < 0" ng-style="positionStyle(-min / length * 100)")

    div.range__editable(ng-if="editable")
        div.range__editable-point(ng-if="bullet" ng-style="positionStyle(complete)")

