div.status__wrapper(ng-if="!state.selected.length")

    div.status__path
        span(ng-bind="state.curFolder.name || 'Все файлы'")

    div.status__create(
    dropdown="content",
    dropdown-right-align,
    dropdown-label="добавить"
    )
        label.create__upload
            input(
            type="file",
            name="file",
            multiple,
            onchange="angular.element(this).scope().Upload.send(this.files, this.nextElementSibling)"
            )
            input(
            type="hidden",
            name="parentId",
            ng-value="state.curFolder.id || 'root'"
            )
            span Загрузить с компьютера
        button.create__folder создать пустую папку
        p.create__hint Можно просто перетащить выбранный на компьютере файл или папку в любую часть интерфейса

    div.status__order(
    dropdown="select",
    dropdown-right-align,
    dropdown-select-model="state.listsSortOptions",
    dropdown-selected="state.uiSettings.listsSort"
    )


div.status__wrapper(ng-if="state.selected.length", ng-controller="MultiSelectStatus")


    p.status__selected-count(ng-bind="count")

    button.status__selected-all(ng-click="selectAll()") Выделить все

    button.status__selected-cancel(ng-click="cancel()") Отмена

    div.status__selected-space

    button.status__selected-control.move(
    ng-click="move(item)"
    )

    button.status__selected-control.copy(
    ng-click="copy(item)"
    ng-show="!hasFolders"
    )

    button.status__selected-control.remove(
    ng-click="remove(item)"
    )