@import "mixins"

aside 
  position fixed
  width 280px
  top 100px
  bottom 20px
  left 50%
  margin-left 320px
  background #fff
  box-shadow 0 0 8px 1px #ccc
  z-index 10
  overflow hidden

  .aside__scrollable 
    width 300px
    height 100%
    padding-right 20px
    overflow-y scroll
  
  .aside__content 
    position relative
    min-height 100%
    padding-bottom 46px
  

  //&::before, &::after
  //  content ''
  //  display block
  //  position absolute
  //  left 0
  //  right 0
  //  height 12px
  //  z-index 1
  //
  //&::before
  //  top 0
  //  background linear-gradient(to bottom,
  //    rgba(255,255,255,1) 0%,
  //    rgba(255,255,255,0) 100%)
  //
  //&::after
  //  bottom 0
  //  background linear-gradient(to bottom,
  //    rgba(255,255,255,0) 0%,
  //    rgba(255,255,255,1) 100%)
  //


  .aside__footer 
    position absolute
    left 0
    right 0
    bottom 0
    height 46px
    border-top #dedede 1px solid

  .diskstatus, .uploadstatus, .uploaddone, .uploaderror 
    position absolute
    left 10px
    right 10px
    top 0
    bottom 0
    background rgba(255,255,255, 1)

    &__value 
      padding-top 8px
      line-height 16px
      color #aaa
      text-align center
    
  
  .diskstatus
    .range
      &__complete
        background #ddd
        &-value
          background #B3C4DA


  .uploadstatus  //todo animate keyframe show/hide
    &__value 
      &-name 
        font-weight bold

    .range 
      &__complete
        height 8px !important
        background #ddd
        &-value
          background #B3C4DA
          overflow hidden
          &::after
            content ''
            display block
            width 260px
            height 100%
            background-image repeating-linear-gradient(-45deg,
            #81a5b7,
            #81a5b7 10px,
            #4d81bb 10px,
            #4d81bb 20px)
            background-size 30px 10px
            animation linear-loader .8s linear infinite
        

  .uploaddone 
    &__value 
      padding-top 14px
    
  

  .uploaderror 
    &__value 
      color #F32727
    
    &__desc 
      text-align center
    
  

  @import "preview"
  @import "audio-player"