@import "mixins"

.audio 
  background #77A2D6

  &__control 
    padding-top 22px
    display flex
    justify-content space-around
    align-items center

    &-play, &-prev, &-next, &-shuffle, &-loop 
      border-radius 50%
      &::after
        content ''
        display block
    
    &-prev, &-next, &-shuffle, &-loop
      width 32px
      height 32px

    &-prev, &-next
      padding 9px
      border #fafafa 1px solid

    &-shuffle, &-loop
      padding 8px
      transition opacity .2s ease-in
      opacity .6
      &.active
        opacity 1

    &-play
      width 40px
      height 40px
      border #fafafa 2px solid
      padding 10px


    &-play::after
      @extend $icon-audio-play

    &-play.paused::after
      @extend $icon-audio-pause

    &-prev::after
      @extend $icon-audio-previous
    
    &-next::after
      @extend $icon-audio-next
    
    &-shuffle::after
      @extend $icon-audio-shuffle
    
    &-loop::after
      @extend $icon-audio-loop
    
  

  &__current 
    display flex
    color #D8DFE8
    padding 20px 12px 2px 12px
    &-name 
      display block
      width 200px
      white-space nowrap
      //.ellipsis(200px)
    

    &-time 
      display block
      width 56px
      text-align right
    
  

  &__frequency 
    display none
    height 80px
    width 256px
    margin 10px auto 0


  &__equalizer
    display flex
    justify-content space-around
    height 90px
    padding 5px 0


  &__status 
    .range__content 
      background #BAD1EC
      border-radius 0
    
    .range__shadow 
      background #D1DAE4
    
  


  &__footer 
    display flex
    align-items center
    height 40px
    padding 0 12px

    &-speaker
      @extend $icon-audio-volume
    

    &-volume
      width 100px
      padding 7px 0
      margin 0 52px 0 10px
      .range__content
        height 2px
        border-radius 0
        background #BAD1EC
      
      .range__shadow 
        background #D1DAE4
      
      .range__point 
        box-shadow 0 0 4px 1px #a8b0ba
        transition transform .2s ease-out
        //transform scale(0)
      
      &:hover
        .range__point 
          transform scale(1)
        

    &-switcher 
      margin-left 10px
      transition opacity .2s ease-in
      opacity .5
      &.active 
        opacity 1
      
      &.equalizer 
        @extend $icon-audio-equalizer
      
      &.frequency 
        @extend $icon-audio-frequency
      
      &.playlist 
        @extend $icon-audio-list