#auth
  display flex
  justify-content center
  align-items center
  min-height 100vh
  background url("/img/login-bg.png") repeat





  // main styles

  .header
    position absolute
    top 0
    right 0
    left 0
    height 52px

    &__line
      height 8px
      background #5D82B2


    &__wrapper
      margin auto
      max-width 1020px
      min-width 320px
      border transparent solid;
      border-width 0 10px
      overflow hidden

    &__logo
      float right
      width 156px
      height 44px
      background url("/img/logo.svg") no-repeat;


  .main
    flex-basis 1000px
    height 600px
    position relative
    margin 70px 10px
    background #5D82B2

    &__menu
      display flex
      position absolute
      right 20px
      top 14px

      &-item
        span
          color #f1f1f1
          padding 0 6px

        a
          color #f1f1f1

    &__wrapper
      display flex
      justify-content center
      align-items center
      position absolute
      top 40px
      bottom 40px
      left 0
      right 0


    &__content
      background #fff
      flex-basis 400px
      margin 0 10px


    &__title {
      margin 20px 0
      text-align center
      font-size 26px
      line-height 30px
      font-weight normal
      color #333
    }





    // commons

    .field
      position relative
      padding 7px 12px
      border-radius 4px
      border #ccc 1px solid


      &__input
        position relative
        width 100%
        height 36px
        border none
        background transparent
        font-size 18px
        color #597496
        z-index 1


      &__placeholder
        position absolute
        left 8px
        top 7px
        padding 0 5px
        font-size 18px
        line-height 36px
        background rgba(#fff, 0)
        color #ddd
        z-index 0
        transition all .14s ease-in


      &.filled .field__placeholder
        color #888


      &__input:focus + .field__placeholder
        color #555


      &.filled .field__placeholder, &__input:focus + .field__placeholder
        top -8px
        font-size 12px
        line-height 14px
        background rgba(#fff, 1)




    .confirm
      display flex
      align-items center

      &__input
        display none


      &__icon
        width 18px
        height 18px
        border: #ccc 1px solid
        border-radius 4px

      &__input:checked + .confirm__icon
        &::after
          content ''
          display block
          margin  2px
          @extend $icon-checked-small


      &__title
        margin-left 12px
        line-height 14px
        a
          color #808080
          text-decoration underline




    .submit
      position relative
      background #8EA8CB
      padding 10px 30px
      border-radius 4px
      font-size 16px
      line-height 18px
      color rgba(#fff, 1)
      cursor pointer

      &:focus, &:hover
        background #92aecb

      &.sending
        color rgba(#fff, 0)
        cursor default
        &::after
          content ''
          display block
          position absolute
          top 15px
          bottom 15px
          left 0
          right 0
          background url("/img/loader-button.svg") no-repeat center
          background-size contain





    // signin

    .signin
      .main
        &__content.error
          animation form-error .6s linear

      &__field
        width 300px
        margin 30px auto

      &__submit
        margin 30px auto



    // signup

    .signup
      &__field
        width 300px
        margin 30px auto

      &__submit
        margin 30px auto

      &__confirm
        width 300px
        margin 0 auto






  // responsive
  @media all and (max-width 619px)
    .main
      margin-left 0
      margin-right 0
      &__content
        margin-left 0
        margin-right 0
