.dropdown 
  position relative
  height 30px

  &-label 
    position relative
    padding 5px 12px
    line-height 20px
    cursor default

    &::after
      content ''
      display inline-block
      margin-left 6px
      border-color #ccc transparent transparent transparent
      border-style solid
      border-width 5px 4px 1px 4px
    
  
  &-content 
    display none
    position absolute
    left -10px
    top 0
    padding-top 30px
    box-shadow 0 0 8px 1px #ccc
    background #fff
  

  &-select 
    &__item 
      white-space nowrap
      line-height 20px
      padding 5px 26px 5px 14px
      text-align right
      cursor pointer
      &:hover
        background #f4f4f4
      
    
  


  &.right-align .dropdown 
    &-content
      left auto
      right 0
    
  

  &.expanded .dropdown 
    &-content
      display block
    
  

  &.expanded .dropdown 
    z-index 20
    &-label 
      z-index 22
    
    &-content 
      z-index 21
    
  

