.dropzone 
  // todo animated show
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(121, 163, 212, .7)
  border #5A81B0 3px dashed
  z-index 10


  &::before
    content ''
    display block
    margin 90px auto 20px
    //@extend $icon-upload-long
  


  &__desc 
    margin 0 30px
    font-size 14px
    line-height 18px
    color #fff
    text-align center
  
