.dropzone.active 
  & + .files 
    min-height 400px
  



.files
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

  &__item 
    display flex
    align-items center
    height 50px
    overflow hidden
    border-bottom #ddd 1px solid
    cursor pointer

    &.selected
      background red

    // icon and checkbox styles
    &-preview
      flex-basis 60px
      flex-shrink 0
      padding 13px 13px 13px 23px

    &-icon
      height 100%

      &::after
        display block
        line-height 24px
        border-radius 3px
        text-align center
        background #6d9ccd
        color #eee
        content '?'

      &.type
        &-folder
          &::after
            background #eee
            color #bbb
            content 'F'

        &-image
          &::after
            background #c0b25c
            color #eee
            content 'I'

        &-audio
          &::after
            background #68c0b6
            color #eee
            content 'M'

        &-video
          &::after
            background #c09faf
            color #eee
            content 'V'

        &-document
          &::after
            background #6d9ccd
            color #eee
            content 'D'



    &-select
      display none
      height 24px
      border #777 2px solid

      input
        display none

      strong
        display none
        @extend $icon-file-selected

      input:checked ~ strong
        display block


    &-preview:hover, &-preview.selected
      .files__item
        &-icon
         display none
        &-select
         display block




    // name styles
    &-name
      flex-grow 1
      line-height 50px
      padding-left 10px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      color #777777

    &-rename
      flex-grow 1
      height 30px
      padding 0 9px
      color #777777
      border #ccc 1px solid
      background #fff


    // size styles
    &-size
      flex-shrink 0
      flex-basis 70px
      line-height 50px
      padding-left 10px
      color #aaa


    // controls styles
    &-controls
      display flex
      align-items center
      justify-content flex-end
      flex-shrink 0
      flex-basis 190px
      padding 0 10px 0 5px
      opacity 0
      cursor default


    &-control 
      width 30px
      height 30px
      padding 7px
      border-radius 50%
      margin-left 5px
      transition opacity .2s ease-in
      cursor pointer
      background-color #fff

      &::after
        display block
        content ''
        opacity .8
      

      &:hover::after
        opacity 1
      

      &.download::after
        @extend $icon-file-download
      
      &.rename::after
        @extend $icon-file-rename
      
      &.move::after
        @extend $icon-file-move
      
      &.copy::after
        @extend $icon-file-copy
      
      &.remove::after
        @extend $icon-file-remove

      &.done::after
        @extend $icon-file-done

      &.cancel::after
        @extend $icon-file-cancel

    &-more 
      display none
      flex-shrink 0
      flex-basis 50px
      padding 17px

      &::after
        display block
        content ''
        opacity .8
        @extend $icon-file-more
      

    &:hover, &:focus
      background #f2f2f2
      .files__item-controls
        opacity .8
    

    &.selected  
      background #75A5DE
      .files__item 
        &-name 
            color #fff
        
        &-size 
            color #eee

  

  &.multiselect 
    .files__item 
      &-control 
        display none