@import "mixins"

.header 
  position fixed
  top 0
  left 0
  right 0
  background #79a3d4
  border-bottom #5a81b0 1px solid
  z-index 12

  &__wrapper 
    display flex
    max-width 1220px
    min-width 320px
    margin 0 auto


  &__show-control 
    display none
    flex-basis 42px
    flex-shrink 0


  &__nav 
    flex-grow 1


  &__user 
    flex-basis 46px
    flex-shrink 0


  &__search 
    flex-basis 190px
    flex-shrink 0
    position relative
  


  .show-control 
    width 34px
    height 34px
    border-radius 50%
    margin 3px
    &.active 
      background #567FAF
    
    &::after
      content ''
      display block
      width 24px
      height 24px
      margin 5px 
    
    &.show-nav::after
      @extend $icon-show-nav
    
    &.show-aside::after
      @extend $icon-show-aside
    


  .nav 
    display flex
    &__item 
      padding 10px 8px
      line-height 20px
      font-size 14px
      white-space nowrap
      color #f5f5f5
      cursor pointer
    


  .search 
    float right
    position relative
    height 24px
    min-width 28px
    margin 8px 10px 0 0

    &__icon 
      position absolute
      top 4px
      left 0
      cursor pointer
      @extend $icon-search
    

    &__input 
      width 0
      height 26px
      margin-left 24px
      border none
      border-radius 3px
      background #fff
      opacity 0
      transform translateZ(0)
      transition opacity .2s linear, width .2s linear
      &:focus
        opacity 1
        padding 2px 6px
        border #eee 1px solid
        width 154px
        color #777
      
    
  

  .user 
    width 30px
    height 30px
    margin 5px 8px
    background #fff
    border-radius 5px
    text-align center
    cursor pointer
    span 
      line-height 30px
      font-size 14px
      font-weight bold
      color #79a3d4