@-webkit-keyframes form-error
  0%
    transform translateX(-20px)
  10%
    transform translateX(20px)
  20%
    transform translateX(-15px)
  30%
    transform translateX(15px)
  40%
    transform translateX(-12px)
  50%
    transform translateX(12px)
  60%
    transform translateX(-8px)
  70%
      transform translateX(8px)
  80%
    transform translateX(-3px)
  90%
    transform translateX(2px)
  100%
    transform translateX(0)

@-webkit-keyframes linear-loader
  from
    background-position 0 0
  to
    background-position 30px 0