@import "reset"
@import "mixins"
@import "key-frames"

html
  height 100%

body
  min-height 100%
  min-width 320px
  background #f1f1f1
  color #808080


#loader
  position fixed 
  top 2px
  bottom 0
  left 0
  right 0
  background url('/img/loader.gif') no-repeat center, #f1f1f1
  z-index 100


@import "auth"

@import "page"

@import "responsive"