//.ellipsis(@width) {
//  max-width: @width;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//}
//
//.clear(@side: both) {
//  &:after {
//    content: '.';
//    display: block;
//    height: 0;
//    overflow: hidden;
//    clear: @side;
//  }
//}