#page
  // common
  @import "dropdown"
  @import "dropzone"
  @import "range"

  // views
  @import "aside"
  @import "header"
  @import "status"

  .main
    max-width 1220px
    min-width 320px
    margin 0 auto
    padding 100px 310px 20px 10px
    &__content
      position relative
      background #fff
      box-shadow 0 0 8px 1px #ccc


  @import "files"