.preview
  overflow hidden

  &__snapshot
    position relative
    min-height 46px
    margin 10px
    background #eee

    &-image
      display block
      margin 0 auto
      max-width 260px
      max-height 260px

    &-name
      position absolute
      left 0
      right 0
      bottom 0
      max-height 46px
      border transparent solid;
      border-width 6px 20px
      overflow hidden
      word-break break-all
      text-align center
      line-height 16px
      background rgba(#79a3d4, .8)
      color #fff
      // todo elipsis



  &__visual
    display flex
    margin 20px 10px
    align-items center

    &-icon
      width 50px
      height 50px
      &.doc-type-folder
        @extend $icon-folder-medium

      &:not(.doc-type-folder)
        background #79a3d4
        border-radius 50%
        //todo icon of file type

    &-name
      width 180px
      margin-left 15px
      overflow hidden
      word-break break-all
      // todo elipsis




  &__property
    margin 10px

    &-item
      line-height 18px



  &__multi 
    display flex
    margin 20px
    align-items center

    &-icon
      @extend $icon-checked
    

    &-count
      margin-left 15px
      font-size 14px
      line-height 16px
      color #79A3D4
      // todo elipsis




  &__empty
    overflow hidden
    &-icon
      margin 30px auto 10px
      @extend $icon-folder-big


    &-text
      width 200px
      margin 0 auto 20px
      font-size 12px
      line-height 16px
      text-align center
      color #aaa

