.range
  position relative
  overflow hidden

  &__complete
    position relative
    background #bbb
    border-radius 2px
    overflow hidden
    box-sizing border-box

    &-shadow
      position absolute
      height 100%
      background #ddd
      bottom 0

    &-value
      position absolute
      height 100%
      background #fff
      bottom 0


  &__editable
    position absolute
    left 0
    top 0
    right 0
    bottom 0

    &-point
      position absolute
      width 10px
      height 10px
      border-radius 5px
      background #fff
      box-shadow 0 0 4px 1px #aaa


  &__separator
    position absolute
    background #CFD0E8
    border-radius 1px




  &.horizontal
    .range
      &__complete
        height 4px
        margin 3px 0

        &-shadow
          height 100%

        &-value
          height 100%

      &__editable
        margin-right 10px

        &-point
          top 50%
          transform translateY(-50%)

      &__separator
        top 0
        bottom 0
        width 2px


  &.vertical
    height 100%
    width 10px
    .range
      &__complete
        height 100%
        width 4px
        margin 0 3px

        &-shadow
          width 100%

        &-value
          width 100%

      &__editable
        margin-top 10px

        &-point
          left 50%
          transform translateX(-50%)

      &__separator
        left 0
        right 0
        height 2px
