body 
  margin 0


header, aside, main, nav, menu, li, label, input, button
  display block


header, aside, main, nav, menu, section,
div,  p, h1, h2, h3, h4, h5, h6, ul,
label, input, button
  box-sizing border-box


button 
  padding 0
  border none
  background none


body, input, button
  font-family Arial, sans-serif
  font-size 12px


p, h1, h2, h3, h4, h5, h6, ul, ol, menu 
  margin 0
  padding 0


ul 
  list-style none


a 
  text-decoration none


a:focus, input:focus, button:focus
  outline none
