#page
  @media all and (max-width 1219px)
    .aside
      left auto
      margin-left 0
      right 10px




  @media all and (max-width 919px)
    .main
      padding-right 10px


    .header

      &__show-control.show-nav
        display block
      &__show-control.show-aside
        display block

      .nav
        display block
        position absolute
        background #fff
        left 0
        top 48px
        box-shadow 0 0 8px 1px #ccc
        transform translateX(-105%)
        transition transform .2s ease-in
        &.show
          transform translateX(0)


        &__item
          display block
          padding 8px 40px 8px 26px
          line-height 20px
          font-size 12px
          color #5E7EA5
          cursor pointer
          &:hover
            background #f2f2f2


    .status
      &__wrapper
        padding-right 10px

      &__selected
        &-control
          &.remove
            margin-right 10px



    .aside
      top 82px
      bottom 0
      right 0
      transform translateX(105%)
      transition transform .2s ease-in
      box-shadow 0 0 18px 3px #ccc
      &.show
        transform translateX(0)





  @media all and (max-width 619px)
    .main
      padding-left 0
      padding-right 0

      .files
        &__item
          &-preview
            flex-basis 40px
            padding 13px 8px


        &__item:not(.selected)
          .files__item
            &-controls
              display none

            &-more
              display block


        &__item.selected
          .files__item-controls
            opacity 1


        &.multiselect
          .files__item
            .files__item-controls
              display none





    .status
      &__wrapper
        padding 0 8px

      &__selected-count
        margin-left 0