@import "mixins"

.status 
  position fixed
  top 41px
  left 0
  right 0
  background rgba(255,255,255, .9)
  z-index 11
  border-bottom #ddd 1px solid

  &__wrapper
    display flex
    align-items center
    max-width 1220px
    min-width 320px
    height 40px
    margin 0 auto
    padding 0 300px 0 10px
  

  &__path
    flex-grow: 1;
    cursor default
    //.ellipsis(160px)
    span
      font-size 12px
      color #777

  .order

  .create 
    text-align center

    &__upload
      display block
      position relative
      border #bbb 2px dashed
      padding 10px 20px
      margin 0 20px
      overflow hidden
      opacity .8
      cursor pointer
      text-align center
      &:hover
        opacity 1
      
      input 
        position absolute
        top -100px
      
      span 
        line-height 16px
        color #aaa
        font-weight bold


    &__folder 
      color #999
      margin 16px 0 5px 0
      border-bottom #999 1px dotted
    

    &__hint 
      width 200px
      padding 14px 10px 10px 10px
      font-style italic
      color #aaa
      text-align left
      //.ellipsis(200px)
      &:hover
        white-space normal




  // selected files state

  &__selected

    &-count
      width 24px
      margin-left 23px
      line-height 24px
      text-align center
      color #fff
      background #777


    &-all
      margin-left 10px
      color #5a81b0
      border-bottom #5a81b0 1px dotted
      padding-top 1px
      cursor pointer

    &-cancel
      margin-left 10px
      color #888
      border-bottom #888 1px dotted
      padding-top 1px
      cursor pointer


    &-space
      flex-grow 1


    &-control
      width 30px
      height 30px
      padding 7px
      border-radius 50%
      margin-left 5px
      transition opacity .2s ease-in
      cursor pointer

      &.remove
        margin-right 20px

      &::after
        display block
        content ''
        opacity .8


      &:hover::after
        opacity 1

      &.move::after
        @extend $icon-file-move

      &.copy::after
        @extend $icon-file-copy

      &.remove::after
        @extend $icon-file-remove



